{% extends 'layout.html' %}

{% block body %}
<h1>Create New Water Profile</h1>
<div class = "form">
    <form action="/add_water" method="POST" id="enviro-form">
        <div class = "left">
        <label>Name:</label>
        <input type="text" name="name" id="name">
        <br /><br />
        <label>Min pH: </label>
        <input type="text" name="min_ph" id="min_ph" value="5.5">
        <label>Max pH: </label>
        <input type="text" name="max_ph" id="max_ph" value="6.5">
        <br /><br />
        <label>Min EC: </label>
        <input type="text" name="min_ec" id="min_ec" value="1.2">
        <label>Max EC: </label>
        <input type="text" name="max_ec" id="max_ec" value="1.6">
        <br /><br />
        Water Schedule:
        <br />
        <br />
        <label>Start Time: </label>
        <input type="time" name="start_time" id="end_time">
        <label>Duration: </label>
        <select name="duration" id="duration" value="15">
            {% for i in range(1,61) %}
                <option value="{{i}}">
                    {{i}} Minutes
                </option>
            {%endfor%}
        </select>
        <br />
        <label>Recurring: </label>
        <select name="recurring" id="recurring" value="0">
            <option value="0">
                Off
            </option>
            {% for i in range(1,13) %}
                <option value="{{i}}">
                    Every {{i}} Hours
                </option>
            {%endfor%}
        </select>
        <br /><br />
        <input type="submit" value="Add Water Profile">
    </form>
</div>
{% endblock %}