{% extends 'layout.html' %}
{% block body %}
    <h1>Manage Water Profiles</h1>
    + <a href="/add_water">Create New Water Profile</a>
    <br />
    <div class="container">
        {% for water in waters %}
            <div class="water">
                <h2>{{ water.name }}</h2>
                <a href="/update_water/{{water.id}}">Update</a>
                - 
                <a href="/delete_water/{{water.id}}">Delete</a>
                <table width = "100%">
                    <tr>
                        <th></th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    <tr>
                        <td>pH</td>
                        <td>{{ water.min_ph }}</td>
                        <td>{{ water.max_ph }}</td>
                    </tr>
                    <tr>
                        <td>EC</td>
                        <td>{{ water.min_ec }}</td>
                        <td>{{ water.max_ec }}</td>
                    </tr>
                </table>
                <br /><br />
                Water Schedule <a href="/add_cycle/{{water.id}}">+</a>
                <table class="cycles">
                    <tr>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                    {% for cycle in water.cycles %}
                        <form action="/update_cycle/{{cycle.id}}" method="POST">
                            <tr>
                                <td>
                                    <input type="time" name="start_time" id="start_time" value="{{cycle.start_time}}">
                                </td>
                                <td>
                                    <select name="duration" id="duration">
                                        <option value="0">Off</option>
                                        {% for i in range(1,61) %}
                                            <option {% if i == cycle.duration %} selected {% endif %} value="{{i}}">
                                                {{i}} Minutes
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="submit" value="Update">
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}