body {
    background: rgb(236,236,236);
    margin: 0;
}

a {
    text-decoration: none;
    color: #1E5631;
}

ul {
    list-style: none;
    padding-left: 10px;
}
h1{
    font-weight: normal;
    font-size: 2.5em;
    color: #436a67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(92, 112, 149);
}

.left-col {
    float:left;
    clear:none;
    position:absolute;
    height: 100%;
    background: rgb(255,255,255);
    background: rgb(255,255,255);
    padding:20px;
    border-radius: 4px;
    width:60px;
}

.content{
    width: 90%;
    float:right;
    margin-right:25px;
}

.header {
    background: rgb(96,182,34);
    background: linear-gradient(0deg, rgba(96,182,34,1) 0%, rgba(102,214,20,1) 100%); 
    display: block;
    padding: 5px;
    height: 100%;
    box-shadow: 0px 5px 5px #c9c9c9;
    border-bottom: 1px solid #717171;
}

.form {
    margin:20px;
    float:left;
}

.environments, .sensors{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.water, .plant, .light, .air, .pin{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    height: max-content;
    margin-top:10px;
}

.form{
    background-color: #fff;
    padding:20px;
    border-radius: 10px;
    height: max-content;
    margin-top:10px;
}

.environment, .sensor{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    height: max-content;
    margin-top:10px;
}

.line {
    height: 3px;
    border: none;
    box-shadow: 0px 2px 3px #c9c9c9;
    width: 90%;
}
.full_line {
    height: 3px;
    border: none;
    box-shadow: 0px 2px 3px #c9c9c9;
    background-color:none;
}

table.alerts_panel {
    float:left;
    width: 100%;
    margin-top: 20px;
}

th.alert_header {
    background-color:#fff;
    width: 25%;
}
tr.alerts_panel > td{
    color: #000;
    border-radius: 10px;
}
.plant_list {
    margin: 20px 0px 0px 20px;
    padding:5px 20px;
    float:left;
    display:block;
    text-align: left;
    border-radius:10px;
}
.plant_list.right {
    float:right;
}
.left {
    float:left;
}
a.active{
    background-color:#85df8f;
    width:100px;
    display:inline-block;
    margin-left:-20px;
}

a.active > img {
    margin-left:10px;
    width: 80px;
    padding:10px 0;
}
.nav_link{
    width:50px;
}
h3{
    font-size:5em;
    color: rgb(31, 28, 43);
    margin:2px;
}

h1.title{
    color: #3f6f35;
    font-size: 2.5em;
    padding: 0;
    margin: 10px;
}
h2 {
    text-align: center;
    margin:5px;
    font-weight:normal;
    font-size: 2.5em;
    font-family:arial;
    color: #436a67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.nav_title {
    margin:2px;
    color: #418846;
    font-weight: normal;
}

select.multiple_select {
    background:none;
}

.ph {
    background-color:rgb(126, 225, 137);
}
.ec {
    background-color:rgb(126, 225, 137);
}
.temp {
    background-color:rgb(126, 225, 137);
}
.humid{
    background-color:rgb(126, 225, 137);
}
td.alert{
    background: red;
}