body {
    background: rgb(236,236,236);
}

a {
    text-decoration: none;
    color: #1E5631;
}

ul {
    list-style: none;
    padding-left: 5px;
}
h1{
    font-weight: normal;
    font-size: 2.5em;
    color: #436a67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(92, 112, 149);
}
.add_note{
    grid-column: span 2;
}
.notes{
    grid-column: span 3;
}
.left-col {
    float:left;
    clear:none;
    position:fixed;
    background: rgb(255,255,255);
    background: rgb(255,255,255);
    padding:20px;
    border-radius: 4px;
    width:60px;
}

.content{
    width: 90%;
    float:right;
    margin-right:25px;
}

li:nth-child(even) {
    background-color: #d9d9d9;
}
li:nth-child(odd) {
    background-color: #ececec;
}
li:nth-child(1) {
    border-radius: 5px 5px 0px 0px;
}
li:nth-last-child(1) {
    border-radius: 0px 0px 5px 5px;
}
li:nth-child(odd) {
    background-color: #ececec;
}
li{
    padding:5px 20px;
}

.header {
    background: rgb(96,182,34);
    background: linear-gradient(0deg, rgba(96,182,34,1) 0%, rgba(102,214,20,1) 100%); 
    display: block;
    padding: 5px;
    height: 100%;
    box-shadow: 0px 5px 5px #c9c9c9;
    border-bottom: 1px solid #717171;
}

.form {
    margin:20px;
    float:left;
}

.environments, .sensors{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.sensors{
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.water, .plant, .light, .air, .pin{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    height: max-content;
    margin-top:10px;
    padding: 5px 15px 15px 15px;
}

.form{
    background-color: #fff;
    padding:20px;
    border-radius: 10px;
    height: max-content;
    margin-top:10px;
}

.environment, .sensor{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    height: max-content;
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
}

.sensor{
    flex-direction: column;
}
.line {
    height: 3px;
    border: none;
    box-shadow: 0px 2px 3px #c9c9c9;
    width: 90%;
}
.full_line {
    height: 3px;
    border: none;
    box-shadow: 0px 2px 3px #c9c9c9;
    background-color:none;
}

table.alerts_panel {
    margin-top: 20px;
    margin:auto;
    width:90%;
}

th.alert_header {
    background-color:#fff;
    width:100px;
}
tr.alerts_panel > td{
    color: #000;
    border-radius: 10px;
}
.plant_list {
    margin: 20px 0 0 2%;
    padding:5px 20px;
    display:block;
    text-align: left;
    border-radius:10px;
    width:32%;
    overflow-y:scroll;
    height:400px;
}
.crop{
    grid-template-columns: 2fr 1fr 1fr;
}
.crop_list, .milestone_links, .extra_tasks, .add_note, .notes {
    padding:5px 20px;
    display:block;
    text-align: center;
    border-radius:10px;
    float:left;
    background-color: #fff;

}
#note {
    width:95%;
}
#task {
    width:70%;
}
.task_list{
    text-align: left;
}
.bold{
    font-weight:bold;
    width: 170px;
    padding-left: 16px;
    display:inline-block;
}

#date{
    font-size:1.8em;
}
#date_btn{
    width:45%;
    font-size:1em;
}
.crop_plants {
    font-size:1.5em;
}
#note_date{
    display:block;
    font-size:2em;
    float:left;
    margin:3px 0 0 5%;
}
.plant_list.right {
    float:right;
}
.left {
    float:left;
}
a.active{
    background-color:#85df8f;
    width:100px;
    display:inline-block;
    margin-left:-20px;
}
a#nav_link{
    width:80px;
    display:inline-block;
    margin-left:-20px;
    padding:10px;
}
.recent_photo{
    display:block;
    margin-top:20px;
    margin-left:2%;
    width:55%;
}
img.recent_photo{
    width:100%;
    margin: 20px 0 0 0;
    border-radius:10px
}

a.active > img {
    float:left
}
.nav_link{
    width:70px;
}
h3{
    font-size:2em;
    color: #000;
    margin:1px;
}

h1.title{
    color: #3f6f35;
    font-size: 2.5em;
    padding: 0;
    margin: 10px;
}
h2 {
    text-align: center;
    margin:5px;
    font-weight:normal;
    font-size: 2.5em;
    font-family:arial;
    color: #436a67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
h2.date{
    font-size:2em;
}
.nav_title {
    margin:2px;
    color: #418846;
    font-weight: normal;
}

select.multiple_select {
    background:none;
}

tr.alerts_panel > td.alert{
}
.cycles{
    width:100%;
}

td > table {
    font-size: .7em;
}

.gauge-container.two > .gauge > .dial {
    stroke: #334455;
    stroke-width: 6;
}
.gauge-container.two > .gauge > .value {
    /*stroke: orange;*/
    stroke-dasharray: none;
    stroke-width: 4;
}
