body {
    background-color: #f3f4f8;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1E5631;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 10px;
}

.left-col {
    float:left;
    clear:none;
    height: 100%;
    background-color: #fff;
    padding:5px;
    box-shadow: 0px 5px 5px #c9c9c9;
    border:1px solid #dadada;
    border-radius: 4px;
    min-height:800px;
}

.content{
    width: 70%;
    margin: 20px;
    float:left;
}

.header {
    background: rgb(96,182,34);
    background: linear-gradient(0deg, rgba(96,182,34,1) 0%, rgba(102,214,20,1) 100%); 
    display: block;
    padding: 5px;
    height: 100%;
    box-shadow: 0px 5px 5px #c9c9c9;
}

.form {
    margin:20px;
    float:left;
}

.environments{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.water, .plant, .light {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 5px 5px #c9c9c9;
    border:1px solid #dadada;
    border-radius: 4px;
    height: max-content;
    margin-top:10px;
}

.environment{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 5px 5px #c9c9c9;
    border:1px solid #dadada;
    border-radius: 4px;
    height: max-content;
    margin-top:10px;
}

.line {
    height: 3px;
    border: none;
    box-shadow: 0px 2px 3px #c9c9c9;
    width: 90%;
}

table.alerts_panel {
    display:block;
    float:left;
    width: 100%;
    margin-top: 20px;
}

th.alert_header {
    background-color:#fff;
    width: 25%;
}
tr.alerts_panel > td{
    background: rgb(96,182,34);
    background: radial-gradient(circle, rgba(96,182,34,1) 0%, rgba(102,214,20,1) 100%); 
    border-radius: 10px;
}
tr.alerts_panel > td.alert{
    background: rgb(204,23,23);
    background: radial-gradient(circle, rgba(204,23,23,1) 0%, rgba(255,0,0,1) 100%); 
}
.plant_list {
    margin: 20px 0px 0px 20px;
    padding:5px 20px;
    float:left;
    display:block;
    text-align: left;
    border:1px solid #dadada;
    border-radius:10px;
    font-size:1.4rem;
    box-shadow: 0px 2px 3px #c9c9c9;
}
.plant_list.right {
    float:right;
}
.left {
    float:left;
}

h3{
    font-size:5em;
    color: #fff;
    margin:2px;
}

h1.title{
    color: #3f6f35;
    font-size: 2.5em;
    padding: 0;
    margin: 10px;
}
h2 {
    text-align: center;
    margin:5px;
}
.nav_title {
    margin:2px;
}

select.multiple_select {
    background:none;
}