{% extends 'layout.html' %}
{% block body %}
    <h1>Manage GPIO Pins</h1>
    <a href = "/add_pin">+ Assign New Pin</a>
    <br />
    <table class="pin" width="45%" style="float:left;">
        <tr>
            <th>
                AC Output Pins
            </th>
        </tr>
        {% for ac_pin in ac_pins %}
        <tr>
            <td>
                Outlet #{{ ac_pin.num }}
            </td>
            <td>
                GPIO Pin #{{ ac_pin.gpio_pin }}
            </td>
            <td>
                <a href ="/update_pin/{{ac_pin.id}}">Update</a> 
                -
                <a href ="/delete_pin/{{ac_pin.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table class="pin" width="45%" style="margin-left:5%;float:left;">
        <tr>
            <th>
                DC Output Pins
            </th>
        </tr>
        {% for dc_pin in dc_pins %}
        <tr>
            <td>
                Outlet #{{ dc_pin.num }}
            </td>
            <td>
                GPIO Pin #{{ dc_pin.gpio_pin }}
            </td>
            <td>
                <a href ="/update_pin/{{dc_pin.id}}">Update</a> 
                <a href ="/delete_pin/{{dc_pin.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br /><br /><br />
    <h1>Sensor Calibration</h1>
    <div class="sensors">
        <div class="sensor">
            <h2>pH Sensor #1</h2>
            <h1>{{ph_level}}</h1>
            <form action="/sensor/1" method="POST">
                <label>Actual pH: </label>
                <input type="text" id="actual_ph" name="actual_ph">
                <input type="submit" value="Update Offset">
            </form>
            <br /><br />
        </div>
        <div class="sensor">
            <h2>EC Sensor #1</h2>
            <h1>{{ec_level}}</h1>
            <form action="/sensor/2" method="POST">
                <label>Actual EC: </label>
                <input type="text" id="actual_ec" name="actual_ec">
                <input type="submit" value="Update Offset">
            </form>
            <br /><br />
        </div>
    </div>
{% endblock %}