{% extends 'layout.html' %}

{% block body %}
    <h1>Create New Plant Profile</h1>
    <div class = "form">
        <form action="/add_plant" method="POST">
            <label>Name:</label>
            <input type="text" name="name" id="name">
            <br /><br />
            <label>Ideal EC:</label>
            <input type="text" name="ec" id="best_ec">
            <label>Ideal Temp:</label>
            <input type="text" name="temp" id="best_temp">
            <label>Ideal Season:</label>
            <input type="text" name="season" id="best_season">
            <br /><br />
            <input type="submit" value="Add Plant Profile">
        </form>
    </div>
{% endblock %}