{% extends 'layout.html' %}
{% block body %}
    <h1>Manage Plant Profiles</h1>
    + <a href="/add_plant">Add New Plant</a>
    <br />
    <div class="container">
        {% for plant in plants %}
            <div class="plant">
                <h2>{{ plant.name }}</h2>
                <a href="/update_plant/{{plant.id}}">Update</a>
                -
                <a href="/delete_plant/{{plant.id}}">Delete</a>
                <br />               
            </div>
        {% endfor %}
    </div>
{% endblock %}