{% extends 'layout.html' %}

{% block body %}
<div class = "form">
    <h1>Create New Light Profile</h1>
    <form action="/add_light" method="POST" id="enviro-form">
        <div class = "left">
        <label>Name:</label>
        <input type="text" name="name" id="name">
        <br /><br />
        <label>Light Model: </label>
        <input type="text" name="model" id="model">
        <br /><br />
        <label>Start Time: </label>
        <input type="time" name="start_time" id="start_time" value="05:00">
        <label>End Time: </label>
        <input type="time" name="end_time" id="end_time" value="19:00">
        <br /><br />
        <input type="submit" value="Add Light Profile">
    </form>
</div>
{% endblock %}