{% extends 'layout.html' %}
{% block body %}
    <h1>Manage Light Profiles</h1>
    + <a href="/add_light">Create New Light Profile</a>
    <br />
    <div class = "container">
        {% for light in lights %}
            <div class = "light">
                <h2>{{ light.name }}</h2>
                <a href="/update_light/{{light.id}}">Update</a>
                <a href="/delete_light/{{light.id}}">Delete</a>
                <br />                
                {{ light.model }}
                <table width = "100%">
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                    <tr>
                        <td>{{ light.start_time }}</td>
                        <td>{{ light.end_time }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}