<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
    <title>Hydroponics</title>
</head>
<body>
        <div class="header">
            <h1 class = "title"><a href="/">Hydro-Flask</a></h1>
        </div>
        <div class = "left-col">
            <br />
            <h2 class="nav_title">Create Settings</h2>
            <hr class="line">
            <ul>
                <li><a href = "/add_enviro">Add Environment</a></li>
                <li><a href = "/add_water">Add Water Profile</a></li>
                <li><a href = "/add_light">Add Light Profile</a></li>
                <li><a href = "/add_air">Add Air Profile</a></li>
                <li><a href = "/add_plant">Add Plant Profile</a></li>
            </ul>
            <br />
            <h2 class="nav_title">Manage Settings</h2>
            <hr class="line">
            <ul>
                <li><a href = "/enviro">Environments</a></li>
                <li><a href = "/water">Water Profiles</a></li>
                <li><a href = "/light">Light Profiles</a></li>
                <li><a href = "/air">Air Profiles</a></li>
                <li><a href = "/plant">Plant Profiles</a></li>
            </ul>
            <br />
            <h2 class="nav_title">Hardware Config</h2>
            <hr class="line">
            <ul>
                <li><a href="/sensors">Sensor Calibration</a></li>
                <li><a href="/pins">Manage GPIO Pins</a></li>
            </ul>
            <br />
            <h2 class="nav_title">Data Analytics</h2>
            <hr class = "line">
            <ul>
                <li><a href = "#">Generate Report</a></li>
                <li><a href = "#">Add Harvest Data</a></li>
            </ul>
        </div>
    {% block body %}
    
    {% endblock %}
</body>
</html>
