<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
    <title>Hydroponics</title>
</head>
<body>
        <div class="header">
            <h1 class = "title">Hydro-Flask</h1>
        </div>
        <div class = "left-col">
            <h2 style="margin:2px;">Create Settings</h2>
            <hr class="line">
            <ul>
                <li><a href = "/add_enviro">Add Environment</a></li>
                <li><a href = "/add_water">Add Water Profile</a></li>
                <li><a href = "/add_light">Add Light Profile</a></li>
                <li><a href = "#">Add Air Profile</a></li>
                <li><a href = "/add_plant">Add Plant Profile</a></li>
            </ul>
            <h2>Data Analytics</h2>
            <ul>
                <li><a href = "#">Generate Report</a></li>
                <li><a href = "#">Add Harvest Data</a></li>
            </ul>
        </div>
    {% block body %}
    
    {% endblock %}
</body>
</html>
