{% extends 'layout.html' %}
{% block body %}
    {% if not crop.germ_date and not crop.fruit_date and not crop.harvested_date %}
        <h1>
        {% endif %}
            Planted on {{ crop.plant_date }} &nbsp;&nbsp;&nbsp;&nbsp;
        </h1>
    {% if crop.germ_date %}
        {% if not crop.fruit_date and not crop.harvested_date %}
        <h1>
        {% endif %}
            Germinated on {{crop.germ_date}} &nbsp;&nbsp;&nbsp;&nbsp;
        </h1>
    {%endif%}
    {% if crop.fruit_date %}
        {% if not crop.harvested_date %}
        <h1>
        {% endif %}
            Fruited on {{crop.fruit_date}}
        </h1>
    {%endif%}
    {% if crop.harvested_date %}
        <h1>Harvested on {{crop.harvested_date}}</h1>
    {%endif%}
    <a href="/delete_crop/{{crop.id}}">Delete</a>
    <br /><br />
    <div class="container crop">
        <div class="extra_tasks">
            <h2>Add Manual Task</h2>
            <br />

        </div>
        <div class="milestone_links">
            <h2>Set Milestones</h2>
            <br />
            <form action="/crop/{{crop.id}}" method="POST" id="enviro-form"width ="100%">
                <input type="date" id="date" name="date" value="{{today}}">
                <input type="text" id="milestone" name="milestone" hidden value="germ">
                <input type="submit" value="Germination Date" id="date_btn">
            </form>
            <br />
            <form action="/crop/{{crop.id}}" method="POST" id="enviro-form">
                <input type="date" id="date" name="date" value="{{today}}">
                <input type="text" id="milestone" name="milestone" hidden value="fruit">
                <input type="submit" value="Fruit Date" id="date_btn">
            </form>
            <br />
            <form action="/crop/{{crop.id}}" method="POST" id="enviro-form">
                <input type="date" id="date" name="date" value="{{today}}">
                <input type="text" id="milestone" name="milestone" hidden value="harvest">
                <input type="submit" value="Harvest Date" id="date_btn">
            </form>
            <br />

        </div>
        <div class="crop_list">
            <ul>
                <li>
                    <h2>Plants</h2>
                </li>
    
                    {% for plant in crop.plants %}
                        <li class="crop_plants">{{ plant.name }}</li>
                    {% endfor %}

            </ul>
        </div>
        <div class="extra_tasks">
            <h2>Manual Tasks</h2>
            <br />
            <form action="/add_log/{{crop.id}}" method="POST" id="enviro-form">
                <input type="date" id="note_date" name="note_date" value="{{today}}">
                <input type="text" id="task" name="task" value="What did you do?">
                <select name="other_crops" multiple>
                    <option selected value="0">Just This Crop</option>
                    {% for other_crop in other_crops %}
                        <option value="{{other_crop.id}}">{{other_crop.name}}</option>
                    {% endfor %}
                </select>
                <br /><br />
                <input type="text" id="note" name="note" value="More Details">
                <br /><br />
                <input type="submit" value="Add Task">
            </form>
            <ul>
                {% for log in crop.logs %}
                    {% if log.task %}
                    <li>
                        <div class="task_list">{{ log.note_date }} <span class="bold">{{ log.task }}</span> {{ log.note }}</div> 
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class = "add_note">
            <h2>Notes</h2>
            <br />
            <form action="/add_log/{{crop.id}}" method="POST" id="enviro-form">
                <input type="text" id="note" name="note" value="">
                <input type="text" id="task" name="task" hidden value="note">
                <br /><br />
                <input type="submit" value="Add Note">
            </form>            
            <ul>
                {% for log in crop.logs %}
                    {% if not log.task %}
                    <li>
                        <div class="task_list">{{ log.note_date }}&nbsp; - &nbsp;{{ log.note }}</div> 
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}